{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Barter Transaction:</h1>
    {% if pending_barter1 %}
        <div>
            <h3>My Barter Request</h3>
            <img src="{{ pending_barter1.product1.image.url }}" alt="{{ pending_barter1.product1 }}" style="width:40%">
            {% if is_created %}
                <p>Request successfully sent</p>
            {% else %}
                {% if status1 %}
                    <p>{{pending_barter1.user1.username}} has accepted your request</p>
                {% else %}
                    <p>Already requested, please wait for owner({{pending_barter1.user1.username}}) to accept your request</p>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    {% if pending_barter2 %}
        <div>
            <h3>Barter Request from {{ pending_barter2.user2.username }}</h3>
                <img src="{{ pending_barter2.product1.image.url }}" alt="{{ pending_barter2.product1 }}" style="width:40%">
                {% if status2 %}
                    <p>You have accepted {{pending_barter2.user2.username}}'s request</p>
                {% else %}
                    <div>
                        <a href="{% url 'barter-page' %}?receiver={{ pending_barter2.user2.username }}&accept=True">Accept</a>
                    </div>
                {% endif %}
            
        </div>
    {% endif %}

    {% if completed_barters %}
        <h4>Completed!!</h4>
        <h3>Below Products are exchanged between you and {{ prod_owner }}</h3>
        {% for barter in completed_barters %}
            <div class="row">
                <img src="{{ barter.product1.image.url }}" alt="{{ barter.product1 }}" style="width:20%">
                <p>-----></p>
                <img src="{{ barter.product2.image.url }}" alt="{{ barter.product2 }}" style="width:20%">  
            </div>
        {% endfor %}
    {% endif %}

{% endblock content %}