{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <h1>Completed Barter</h1>
        {% for barter in all_barters %}
            <p>{{ barter.status }} {{ barter.user1 }} {{ barter.product1 }} {{ barter.user2 }} {{ barter.product2 }}</p>
        {% endfor %}

        <h2>My Pending Barter</h2>
        {% for pending_barter in all_pending_barters %}
            {% if user.username == pending_barter.user2.username %}
                <div>
                    <a href="{% url 'barter-page' %}?receiver={{ pending_barter.user1.username }}&sender={{ pending_barter.user2.username }}&product_key=16">
                        {{ pending_barter.user2 }} is requesting for {{ pending_barter.product1 }} from {{ pending_barter.user1 }} -{{ pending_barter.product2 }}
                    </a>
                </div>
            {% endif %}
        {% endfor %}

        <h2>Pending Barter</h2>
        {% for pending_barter in all_pending_barters %}
            {% if user.username == pending_barter.user1.username %}
                <div>
                    <a href="{% url 'barter-page' %}?receiver={{ pending_barter.user1.username }}&sender={{ pending_barter.user2.username }}&product_key=16">
                        {{ pending_barter.user2 }} is requesting for {{ pending_barter.product1 }} from {{ pending_barter.user1 }}-{{ pending_barter.product2 }}
                    </a>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock content %}