{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <h1>Barter Request From {{ pending_barter.user2 }}</h1>
        <img src="{{ pending_barter.product1.image.url }}" alt="{{ pending_barter.product1 }}" style="width:40%">
    </div>

    {% if user.username == pending_barter.user1.username %}
        <a href="{% url 'barter-page' %}?receiver={{ pending_barter.user1.username }}&sender={{ pending_barter.user2.username }}&product_key=16&accept=True">Accept</a>
    {% else %}
        {% if is_created %}
            <p>Request successfully sent</p>
        {% else %}
            <p>Already requested, please wait for owner to accept your request</p>
        {% endif %}
    {% endif %}
{% endblock content %}