{% extends "products/base.html" %}
{% block content %}
    <div class="navbar-nav">
        {% if user.is_authenticated %}
            <div class="row">
                <a href="{% url 'products-home' %}" class ="product-img">
                <img alt="Products" src="static/images/product.jpg">
                </a>
                <a href="{% url 'services-home' %}" class ="product-img">
                <img alt="Services" src="static/images/service.jpg">
                </a>
            </div>
        {% else %}
                 <h2>Hello! Welcome, please login to continue</h2>
        {% endif %}
    </div>
{% endblock content %}
