{% extends "products/base.html" %}
{% block content %}
    {% for product in products %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ product.username.profile.image.url }}"
                 alt="{{ product.username }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ product.username }}</a>
                </div>
                <h2><a class="article-title" href="#">{{ product.product_name }}</a></h2>
                <p class="article-content">{{ product.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
